﻿@import url('style.css');
html {
    font-size: 1.2em;
}
#statusbar {
	height: 4.2em;
}
iframe.masterframe {
	height: 55em;
}
#identbar, #currenttemp, #currentdate, #currenttime
{
    margin: .8em;
}
